<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - practica3</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("practica3", "Index", "Home", null, new { @class = "navbar-brand" })

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuNavbar"
                    aria-controls="menuNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menuNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Consulta Casas", "Consulta", "Casas", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Alquiler", "Alquiler", "Casas", null, new { @class = "nav-link" })
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    @if (ViewBag.Title == "Sistema")
    {
        @RenderBody()
    }
    else
    {
        <main class="container body-content mt-4">
            @RenderBody()
            <hr />
            <footer class="text-center">
                <p>&copy; @DateTime.Now.Year</p>
            </footer>
        </main>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>